!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/shThemeDefault.css')
  body!= body
    script(type="text/javascript", src="/javascripts/shCore.js")
    script(type="text/javascript", src="/javascripts/shAutoloader.js")
