body {
  padding: 10px 0 0 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #f00;
  background-color: #eee;
}

a:hover {
  background-color: #ccc;
}

pre {
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 1.5em;
}

span.instruction {
  color: gray;
  margin-right: 1em;
  display: inline-block;
  min-width: 7em;
}

p.pastie {
  margin: 0;
  padding: 0;
}

p.pastie:hover {
  background-color: #ddd;
}

div.tight p {
  margin: 0;
  padding: 0;
}
